body{
    margin: 0;
    background-image: url("background1.jpg");
    background-repeat: auto;
}
p{
    margin-left: auto;  
    margin-right: auto;
    width:500px;
    text-align: justify;
}
.button{
    padding-right: 40px;
    margin-left: auto;  
    margin-right: auto;
    font-size: 150%;
}
#jadwalkuliah{
    text-align: center;
    
}
table#jadwal{
    text-align-last: center;
    margin-left: auto;  
    margin-right: auto;
}
#Biodata{
    text-align: center;
}
#Pendidikan{
    text-align: center
}
#namawebsite{
    font-size: 175%;
    padding-right: 40px
}
.header{
    background: #0047ec;
    width: auto;
    height: 40px;
}